._marquee {
  --duration: 0;
  --width: 0;
  overflow: hidden;
}
._marquee > div {
  width: max-content;
}
._marquee.active > div {
  animation: _marquee-keyframes var(--duration) linear infinite;
}

@keyframes _marquee-keyframes {
  0% {
    transform: translateX(var(--width));
  }
  100% {
    transform: translateX(-100%);
  }
}
