._marquee {
  min-width: max-content;
  animation: marqueeAnimation 8s ease-in-out infinite;
}

@keyframes marqueeAnimation {
  20% {
    transform: translateX(0);
    margin-left: 0;
  }
  80% {
    transform: translateX(-100%);
    margin-left: 100%;
  }
}
