._ptv-preview {
  padding: 1rem;
}
._ptv-preview h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
._ptv-preview h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
._ptv-preview h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
