@import "tailwindcss";
@import "./css/loading-spinner.css" layer(base);
@import "./css/text.css" layer(base);
@import "./css/marquee.css" layer(base);

@custom-variant dark (&:where(.dark, .system, .dark *, .system *));

/* https://tailwindcss.com/docs/theme#default-theme-variable-reference */
@theme {
  --font-sans: "Outfit", sans-serif;

  --breakpoint-xs: 21.875rem;

  --color-surface: var(--color-white);
  --color-surface-secondary: var(--color-white);
  --color-typography: var(--color-black);
  --color-action: var(--color-slate-100);
  --color-action-secondary: var(--color-slate-200);
  --color-active: var(--color-blue-800);
  --color-link: var(--color-blue-700);

  --color-calendar-date: var(--color-white);
  --color-calendar-today: var(--color-white);
  --color-calendar-today-surface: var(--color-black);

  --color-disruption: oklch(65% 0.23 35); /* #FC4000 */
  --color-status-clear: oklch(76.47% 0.2289 146.12); /* #14D64B */
  --color-status-delays: oklch(77.48% 0.1544 78.87); /* #EAA81F */
  --color-status-buses: oklch(61.76% 0.2511 28.06); /* #F90514 */

  /* Dark mode colours */
  --color-dark-surface: oklch(18.23% 0 0); /* #121212 */
  --color-dark-surface-secondary: oklch(25% 0 0); /* #222222 */
  --color-dark-typography: var(--color-white);
  --color-dark-action: oklch(27.68% 0 0); /* #282828 */
  --color-dark-action-secondary: oklch(33.78% 0.0223 256.39); /* #303843 */
  --color-dark-active: oklch(60.81% 0.2097 267.74); /* #4D74FE */
  --color-dark-link: oklch(66.18% 0.1648 267.74); /* #678BF7 */

  --color-dark-calendar-date: var(--color-black);
  --color-dark-calendar-today: var(--color-black);
  --color-dark-calendar-today-surface: var(--color-white);

  --leading-*: initial;
  --leading-none: 0em;
  --leading-tight: 0.25em;
  --leading-snug: 0.375em;
  --leading-normal: 0.5em;
  --leading-relaxed: 0.625em;
  --leading-loose: 1em;
}

@layer theme {
  /* When user sets theme to dark */
  .dark {
    --color-surface: var(--color-dark-surface);
    --color-surface-secondary: var(--color-dark-surface-secondary);
    --color-typography: var(--color-dark-typography);
    --color-action: var(--color-dark-action);
    --color-action-secondary: var(--color-dark-action-secondary);
    --color-active: var(--color-dark-active);
    --color-link: var(--color-dark-link);

    --color-calendar-date: var(--color-dark-calendar-date);
    --color-calendar-today: var(--color-dark-calendar-today);
    --color-calendar-today-surface: var(--color-dark-calendar-today-surface);
  }
  /* When user sets theme to auto and OS theme is dark */
  @media (prefers-color-scheme: dark) {
    .system {
      --color-surface: var(--color-dark-surface);
      --color-surface-secondary: var(--color-dark-surface-secondary);
      --color-typography: var(--color-dark-typography);
      --color-action: var(--color-dark-action);
      --color-action-secondary: var(--color-dark-action-secondary);
      --color-active: var(--color-dark-active);
      --color-link: var(--color-dark-link);

      --color-calendar-date: var(--color-dark-calendar-date);
      --color-calendar-today: var(--color-dark-calendar-today);
      --color-calendar-today-surface: var(--color-dark-calendar-today-surface);
    }
  }
}

._button-default {
  @apply bg-slate-200 group-hover:bg-slate-300 group-active:bg-slate-400;

  @variant dark {
    @apply bg-action-secondary group-hover:bg-action-secondary/75 group-active:bg-action-secondary/50;
  }
}

._button-hover {
  @apply group-hover:bg-slate-100 group-active:bg-slate-200;

  @variant dark {
    @apply group-hover:bg-action group-active:bg-action-secondary;
  }
}

/* Override leading to set --line-spacing instead (see ./css/text.css). */
@utility leading-* {
  /* prettier-ignore */
  --line-spacing: --value(--leading-*);
}

@font-face {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/outfit.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
    U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
  flex-shrink: 0;
}

html {
  --page-min-width: 20rem;
  min-width: var(--page-min-width);
}

/* Always use pointer cursor on buttons. */
@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}
