@import "tailwindcss";
@import "./css/loading-spinner.css" layer(base);
@import "./css/text.css" layer(base);
@import "./css/marquee.css" layer(base);

@custom-variant dark {
  &:where(.dark, .dark *) {
    @slot;
  }
  @media (prefers-color-scheme: dark) {
    &:not(:where(.light, .light *)) {
      @slot;
    }
  }
}

/* https://tailwindcss.com/docs/theme#default-theme-variable-reference */
@theme {
  --font-sans: "Outfit", sans-serif;

  --color-*: initial;
  --color-background: hsl(220deg 20% 100%); /* Update pages/utils.ts too! */
  --color-foreground: hsl(220deg 20% 20%);
  --color-foreground-strong: hsl(220deg 20% 0%);
  --color-soft: hsl(220deg 20% 93%);
  --color-soft-hover: hsl(220deg 20% 89%);
  --color-soft-active: hsl(220deg 20% 85%);
  --color-soft-border: hsl(220deg 20% 89%);
  --color-accent: hsl(220deg 100% 40%);
  --color-accent-hover: hsl(220deg 100% 50%);
  --color-accent-active: hsl(220deg 100% 60%);
  --color-accent-soft: hsl(220deg 100% 95%);
  --color-on-accent: hsl(220deg 20% 100%);
  --color-status-green: hsl(130, 60%, 40%);
  --color-status-yellow: hsl(40, 100%, 40%);
  --color-status-red: hsl(0, 100%, 45%);
  --color-switch: hsl(220deg 20% 70%);
  --color-switch-hover: hsl(220deg 20% 65%);
  --color-switch-knob: hsl(220deg 0% 100%);

  --leading-*: initial;
  --leading-none: 0em;
  --leading-tight: 0.25em;
  --leading-snug: 0.375em;
  --leading-normal: 0.5em;
  --leading-relaxed: 0.625em;
  --leading-loose: 1em;
}

/* Dark mode colours */
@variant dark {
  --color-background: hsl(220deg 20% 5%); /* Update pages/utils.ts too! */
  --color-foreground: hsl(220deg 20% 80%);
  --color-foreground-strong: hsl(220deg 20% 100%);
  --color-soft: hsl(220deg 20% 15%);
  --color-soft-hover: hsl(220deg 20% 20%);
  --color-soft-active: hsl(220deg 20% 25%);
  --color-soft-border: hsl(220deg 20% 20%);
  --color-accent: hsl(220deg 100% 73%);
  --color-accent-hover: hsl(220deg 80% 68%);
  --color-accent-active: hsl(220deg 70% 63%);
  --color-accent-soft: hsl(220deg 50% 17%);
  --color-on-accent: hsl(220deg 20% 0%);
  --color-status-green: hsl(130, 60%, 60%);
  --color-status-yellow: hsl(40, 100%, 60%);
  --color-status-red: hsl(0, 100%, 70%);
  --color-switch: hsl(220deg 20% 35%);
  --color-switch-hover: hsl(220deg 20% 40%);
  --color-switch-knob: hsl(220deg 20% 100%);
}

/* Override leading to set --line-spacing instead (see ./css/text.css). */
@utility leading-* {
  /* prettier-ignore */
  --line-spacing: --value(--leading-*);
}

@font-face {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/outfit.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
    U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
  flex-shrink: 0;
}

html {
  --page-min-width: 20rem;
  min-width: var(--page-min-width);
}

/* Always use pointer cursor on buttons. */
@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

b,
strong {
  color: var(--color-foreground-strong);
}
